.card__wrapper {
  flex-basis: calc(33.333% - 20px);
  flex-grow: 1;
  max-width: 420px;
  height: 437px;
  border: 1px solid #e4e4e7;
  box-shadow: 0px 12px 20px 0px #acacb740;
  border-radius: 20px;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  /* overflow: hidden; */
}

.popular__card {
  position: relative;
  border-radius: 20px;
  /* overflow: hidden; */
  border: none;
}

.popular__card::before {
  content: '';
  position: absolute;
  inset: 0;
  border-radius: 20px;
  padding: 6px;
  background: linear-gradient(
    318.82deg,
    #fffb7d 0%,
    rgba(125, 255, 149, 0.5) 14.41%,
    rgba(36, 36, 36, 0.1) 47.77%,
    rgba(125, 236, 255, 0.5) 70.65%,
    #bc7dff 82.77%,
    #ff7d93 101.65%
  );
  mask:
    linear-gradient(white 0 0) content-box,
    linear-gradient(white 0 0);
  -webkit-mask:
    linear-gradient(white 0 0) content-box,
    linear-gradient(white 0 0);
  mask-composite: exclude;
  -webkit-mask-composite: xor;
}

.popular__card__header {
  position: absolute;
  top: -18px;
  right: 15px;
  padding: 8px 16px;
  background-color: #ffffff;
}
