.pricing__card {
  flex-basis: calc(45% - 20px);
  border-radius: 20px;
  border: 1px solid #ffacff;
  border-top: none;
  height: 582px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  min-width: 350px;
}
.pricing__bottom {
  background: url('../../assets/images/pricingBg.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
